<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="darkreader-lock">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="static/fehdoku.css">
    <title>FEHnder</title>
</head>
<body>

<div id="header">|</div>

<div id="gameWrapper">
    <div id="chooseGrid">
        <div class="choose-grid-item" id="currentGrid">Daily</div>
        <div class="choose-grid-item" id="pastGrids">Past Grids</div>
    </div>

    <div class="search" id="searchBar">
        <input type="text" id="searchInput" class="searchTerm" placeholder="" autocomplete="off">
        <ul id="searchResults" class="search-results"></ul>
    </div>

    <div class="pop-up-box" id="game-over-box">
        <div class="pop-up-box-label" id="game-over-label">
            SUMMARY
            <div id="game-over-value">FEHDOKU 1</div>
        </div>
        <div class="game-over-grid">
            <div class="game-over-grid-item" id="gameOverGrid1"></div>
            <div class="game-over-grid-item" id="gameOverGrid2"></div>
            <div class="game-over-grid-item" id="gameOverGrid3"></div>
            <div class="game-over-grid-item" id="gameOverGrid4"></div>
            <div class="game-over-grid-item" id="gameOverGrid5"></div>
            <div class="game-over-grid-item" id="gameOverGrid6"></div>
            <div class="game-over-grid-item" id="gameOverGrid7"></div>
            <div class="game-over-grid-item" id="gameOverGrid8"></div>
            <div class="game-over-grid-item" id="gameOverGrid9"></div>
        </div>
        <div id="score-label">
            SCORE
            <div class="score-feedback" id="scoreValue"></div>
            <div class="score-feedback" id="scoreText"></div>
        </div>
    </div>

    <div class="pop-up-box" id="pastGamesBox">
        <div class="pop-up-box-label" id="pastGamesLabel">
            PAST GAMES
            <ul id="pastList">
                <li class="past-games-item" id="pastGames1">#1 • Feb 4th</li>
                <li class="past-games-item" id="pastGames2">#2 • Feb 5th</li>
                <li class="past-games-item" id="pastGames3">#3 • Feb 4th</li>
                <li class="past-games-item" id="pastGames4">#4 • Feb 4th</li>
                <li class="past-games-item" id="pastGames5">#5 • Feb 4th</li>
                <li class="past-games-item" id="pastGames6">#6 • Feb 4th</li>
                <li class="past-games-item" id="pastGames7">#7 • Feb 4th</li>
            </ul>
        </div>
    </div>

    <div class="grid-container" id="gridContainer">
        <div class="grid-item top-left" id="grid1">
            <div class="row-category category-label" id="categoryLabel1">
                <div class="category-value" id="categoryValue1"></div>
            </div>
            <div class="column-category category-label" id="categoryLabel4">TEST
                <div class="category-value" id="categoryValue4"></div>
            </div>
        </div>
        <div class="grid-item" id="grid2">
            <div class="row-category category-label" id="categoryLabel2">
                <div class="category-value" id="categoryValue2"></div>
            </div>
        </div>
        <div class="grid-item top-right" id="grid3">
            <div class="row-category category-label" id="categoryLabel3">
                <div class="category-value" id="categoryValue3"></div>
            </div>
        </div>
        <div class="grid-item" id="grid4">
            <div class="column-category category-label" id="categoryLabel5">
                <div class="category-value" id="categoryValue5"></div>
            </div>
        </div>
        <div class="grid-item" id="grid5"></div>
        <div class="grid-item" id="grid6"></div>
        <div class="grid-item bottom-left" id="grid7">
            <div class="column-category category-label" id="categoryLabel6">
                <div class="category-value" id="categoryValue6"></div>
            </div>
        </div>
        <div class="grid-item" id="grid8"></div>
        <div class="grid-item bottom-right" id="grid9"></div>
    </div>

    <div id="guessesText">GUESSES LEFT
        <div id="guessesNumber">8</div>
    </div>

    <div id="dimmer"></div>
</div>

<script type="text/javascript">
    grid = {{ grid | tojson }}
</script>
<script src="{{ url_for('static', filename='lodash.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='fehdoku.js') }}"></script>
</body>
</html>